.container {
    background-color: bisque;
    border: 2px solid black;
    display: flex;
    
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
  }

.container .btn{
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}  